*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*div.container{
    border: 2px solid white;}*/

aside{
    display: flex;
    
}

aside img{
    width: 70%;
   
}
/*left and right photos*/
div.left, div.right{
    display: inline-block;
    margin-left: 300px; 
    border: 4px dotted white;
}
div.right{
    width: 15%;
}
/*lead photos*/
main img{ 
    width:auto;
    margin-left: 500px; 
    border: 3px dotted white; 
}
header{
  background-color: rgba(54, 52, 52, 0.516); 

}
header img{
  margin-top: auto;
  width: 20%;
 
}
/*setup the navigation bar*/
nav{
    background-color: gray;
}
ul{
    text-align: center;

}
li{
    display: inline-block;
    width: 150px;
    border: 2px solid white;
    height: 40px;
    line-height: 2em;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;

}
a{
   color: white;
   text-decoration: none;
   border: 1px solid black;
   display: block;
}
    


